@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    margin: 0;
    padding: 0;
}

$primary: #A436D8;
$outline: #000000;
$secondary: #A3A3A3;

.color_primary {
    color: $primary;
}

.color_outline {
    color: $outline;
}

.color_secondary {
    color: $secondary;
}

.bg_primary {
    background-color: $primary;
}

.bg_outline {
    background-color: $outline;
}

.bg_secondary {
    background-color: $secondary;
}

.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.textbox {}

.btn_profile {}

.btn_icon_active {}

.btn_icon_disabled {}

.btn_thumb {}

.chip {}